{% extends "base_generic.html" %}
{% load static %}
{% block title %}Training Management{% endblock %}


{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

{% endblock %}


{% block content %}
 

  <div class="form-container">
    <h2>{{ form.instance.pk|yesno:"Edit Training,Add New Training" }}</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="flex">
        <button  class="btn-primary" type="submit">Save</button>
        <a href="{% url 'training_list' %}" class="btn-link">Back to List</a>
      </div>
    </form>
  </div>
{% endblock %}
