{% extends 'base_generic.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/lists.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block content %}
<section class="main-title">
    <h1>Job Details</h1>
  
</section>

<div class="card">
    <div class="card-header">
        <h2>All Job Details</h2>
        <div class="filters">
            <button class="btn_add"><a href="{% url 'jobdetails_create' %}">Add Job Details</a></button>
        </div>
    </div>
    <div class="board">
        <table width="100%">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Salary_range</td>
                    <td>Education</td>
                    <td>Status</td>
                    <td>Category</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td class="people">
                        <div class="">
                            <h5>{{ job.title }}</h5>
                            <p>{{ job.location }}</p>
                        </div>
                    </td>
                    <td >
                        <p>{{ job.salary_range }}</p>
                    </td>
                    <td >
                        <p>{{ job.education }}</p>
                    </td>
                    <td class="active">
                        <p>{{ job.status }}</p>
                    </td>
                    <td >
                        <p>{{ job.category }}</p>
                    </td>
                    <td class="table-icons">
                        <a href="javascript:void(0);" onclick="openModal('{{ job.pk }}')"><i class="ph-fill ph-arrows-out-simple"></i></a>
                        <a href="{% url 'jobdetails_update' job.pk %}"><i class="ph-fill ph-eraser"></i></a>
                        <a href="{% url 'jobdetails_delete' job.pk %}"><i class="ph-fill ph-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
    <div class="pagination">
        <span class="step-links">
            {% if jobs.has_previous %}
                <a href="?page=1">&laquo; </a>
                <a href="?page={{ jobs.previous_page_number }}">&lt;</a>
            {% endif %}
        
            <span class="current">
                {{ jobs.number }} of {{ jobs.paginator.num_pages }}
            </span>
        
            {% if jobs.has_next %}
                <a href="?page={{ jobs.next_page_number }}">&gt;</a>
                <a href="?page={{ jobs.paginator.num_pages }}"> &raquo;</a>
            {% endif %}
        </span>
    </div>
    
    


    <div id="jobdetailsModal" class="modal">
        <div class="modal-content">
                <div class="texte">
                    <span class="close" onclick="closeModal()"><i class="ph ph-x-circle"></i></span>
                    <h2>Job Details </h2>
                </div>
            
            <hr>

                <div class="top">
                    <h1 id="modalTitle"></h1>
                    <div class="status" id="modalStatus"><i class="ph-thin ph-circle"></i></div>
                </div>

            
           
            <p><i class="ph-thin ph-map-pin"></i> <span id="modalLocation"></span></p>

            <div>
                <h3>Description</h3>
                <p><span id="modalDescription"></span></p>
            </div>

            <div>
                <h3>Requirements</h3>
                <p><span id="modalRequirements"></span></p>
            </div>
           
            <div>
                <h3>Education</h3>
                <p><span id="modalEducation"></span></p>
            </div>

            <div>
                <h3>Category</h3>
                <p><span id="modalCategory"></span></p>
            </div>

            <div>
                <h3>Salary range</h3>
                <p><span id="modalSalaryRange"></span></p>
            </div>
           
         


        </div>
    </div>

{% block scripts %}
<script>
    function openModal(jobId) {
        fetch(`/vacancymanagement/vacancymanagement/${jobId}/json/`)
        .then(response => response.json())
        .then(data => {
            document.getElementById('modalTitle').textContent = data.title;
            document.getElementById('modalDescription').textContent = data.description;
            document.getElementById('modalRequirements').textContent = data.requirements;
            document.getElementById('modalEducation').textContent = data.education;
            document.getElementById('modalCategory').textContent = data.category;
            document.getElementById('modalLocation').textContent = data.location;
            document.getElementById('modalSalaryRange').textContent = data.salary_range;
            document.getElementById('modalStatus').textContent = data.status;
            document.getElementById('jobdetailsModal').style.display = 'block';
        })
        .catch(error => console.error('Error loading job details:', error));
    }
 
    function closeModal() {
        document.getElementById('jobdetailsModal').style.display = 'none';
    }
 </script>
 
{% endblock %}
{% endblock %}
