{% extends 'base_generic.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/lists.css' %}">
{% endblock %}

{% block content %}
<section class="main-title">
    <h1>Safety Equipment Management</h1>
    <div class="buttons">
        <a class="sub-item" href="{% url 'equipment_list' %}">Equipment</a>
        <a class="sub-item" href="{% url 'maintenance_inspection_list' %}">Maintenance Inspection</a>
        <a class="sub-item" href="{% url 'epi_distribution_list' %}">EPI Distribution</a>
    </div>
</section>

<div class="card">
    <div class="card-header">
        <h2>All Equipment</h2>
        <div class="filters">
            <input type="search" placeholder="Filter by name" class="filter-input" />
            <button class="btn_add"><a href="{% url 'equipment_create' %}">Add Equipment</a></button>
        </div>
    </div>
    <div class="board">
        <table width="100%">
            <thead>
                <tr>
                    <td>Name of the equipment</td>
                    <td>Equipment type</td>
                    <td>Description</td>
                    <td>Quantity</td>
                    <td>Acquisition_date</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for equipment in page_obj %}
                <tr>
                    <td class="people">
                        <div class="">
                            <h5>{{ equipment.name }}</h5>
                        </div>
                    </td>
                    <td>{{ equipment.type }}</td>
                    <td>{{ equipment.description }}</td>
                    <td class="active">{{ equipment.quantity }}</td>
                    <td>{{ equipment.acquisition_date }}</td>
                    <td class="table-icons">
                        <a href="{% url 'equipment_update' equipment.pk %}"><i class="ph-fill ph-eraser"></i></a>
                        <a href="{% url 'equipment_delete' equipment.pk %}"><i class="ph-fill ph-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination controls -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            {% endif %}

            <span class="current">
                 {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
