{% extends 'base_generic.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/lists.css' %}">
{% endblock %}

{% block content %}
<section class="main-title">
    <h1>Safety Planning and Procedures</h1>
    <div class="buttons">
        <a class="sub-item" href="{% url 'safetypolicy_list' %}">Safety Policy</a>
        <a class="sub-item" href="{% url 'operational_procedure_list' %}">Operational Procedure</a>
        <a class="sub-item" href="{% url 'emergency_plan_list' %}">Emergency Plan</a>
    </div>
</section>

<div class="card">
    <div class="card-header">
        <h2>All Operational Procedure</h2>
        <div class="filters">
            <input type="search" placeholder="Filter by name" class="filter-input" />
            <button class="btn_add"><a href="{% url 'operational_procedure_create' %}">Add Operational Procedure</a></button>
        </div>
    </div>
    <div class="board">
        <table width="100%">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Policy</td>
                    <td>Created At</td>
                    <td>Active</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for operationalprocedure in page_obj %}
                <tr>
                    <td class="people">
                        <div class="">
                            <p>{{ operationalprocedure.title }}</p>
                        </div>
                    </td>
                    <td>
                        <p>{{ operationalprocedure.description }}</p>
                    </td>
                    <td>
                        <p>{{ operationalprocedure.policy }}</p>
                    </td>
                    <td class="active">
                        <p>{{ operationalprocedure.created_at }}</p>
                    </td>
                    <td>
                        <p>{{ operationalprocedure.active }}</p>
                    </td>
                    <td class="table-icons">
                        <a href="{% url 'operational_procedure_update' operationalprocedure.pk %}"><i class="ph-fill ph-eraser"></i></a>
                        <a href="{% url 'operational_procedure_delete' operationalprocedure.pk %}"><i class="ph-fill ph-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Paginação -->
    <div class="pagination">
        <span class="step-links">

        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}

        <span class="current"> {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>

    </div>

</div>
{% endblock %}
