{% extends "base_generic.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/confirm_delete.css' %}">

{% endblock %}

{% block content %}

  <div class="confirmation-container">
    <h2>Confirm Delete</h2>
    <p>Are you sure you want to delete "{{ participant.employee.first_name }} {{ participant.employee.last_name }}" the training "{{training.title}}"? </p>
    <form method="post">
      {% csrf_token %}
      <button type="submit">Yes, delete</button>
      <a href="{% url 'training_list' %}">Cancel</a>
    </form>
  </div>
{% endblock %}
