{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRControls</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- Stylesheets -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_styles %}{% endblock %}

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- Sidebar Navigation -->
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </span>
                <div class="text logo-text">
                    <span class="name">HRControls</span>
                </div>
            </div>
            <i class="ph-fill ph-caret-right toggle"></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links" id="menu-principal">
                    <li class="nav-link"><a href="#" id="recruitment-link"><i class="ph-fill ph-users-three icon"></i><span class="text nav-text">Recruitment</span></a></li>
                    <li class="nav-link"><a href="#" id="dp-link"><i class="ph-fill ph-identification-badge icon"></i><span class="text nav-text">DP</span></a></li>  
                    <li class="nav-link"><a href="#" id="training-link"><i class="ph-fill ph-barbell icon"></i><span class="text nav-text">Training</span></a></li>
                    <li class="nav-link"><a href="#" id="occupational-safety-link"><i class="ph-fill ph-hard-hat icon"></i><span class="text nav-text">Occupational Safety</span></a></li>
                </ul>
                
                <!-- Menu de Recruitment -->
                <ul class="menu-links hidden" id="menu-recruitment">
                    <li class="nav-link"><a href="#" id="back-recruitment"><i class="ph-fill ph-arrow-fat-lines-left icon"></i><span class="text nav-text">Back</span></a></li>
                    <li class="nav-link"><a href="{% url 'applicant_list' %}"><i class="ph-fill ph-users-four icon"></i><span class="text nav-text">Applicants</span></a></li>
                    <li class="nav-link"><a href="{% url 'jobdetails_list' %}"><i class="ph-fill ph-cards-three icon"></i><span class="text nav-text">Vacancy Management</span></a></li>
                    <li class="nav-link"><a href="{% url 'applicant_screening_list' %}"><i class="ph-fill ph-polygon icon"></i><span class="text nav-text">Screening</span></a></li>
                    <li class="nav-link"><a href="{% url 'reports_metrics' %}"><i class="ph-fill ph-files icon"></i><span class="text nav-text">Reports and Metrics</span></a></li>
                </ul>
        
                <!-- Menu de DP -->
                <ul class="menu-links hidden" id="menu-dp">
                    <li class="nav-link"><a href="#" id="back-dp"><i class="ph-fill ph-arrow-fat-lines-left icon"></i><span class="text nav-text">Back</span></a></li>
                    <li class="nav-link"><a href="{% url 'employee_list' %}"><i class="ph-fill ph-identification-badge icon"></i><span class="text nav-text">Employees</span></a></li>
                    <li class="nav-link"><a href="{% url 'contract_list' %}"><i class="ph-fill ph-cards-three icon"></i><span class="text nav-text">Contracts Management</span></a></li>
                    <li class="nav-link"><a href="{% url 'benefit_list' %}"><i class="ph-fill ph-cardholder icon"></i><span class="text nav-text">Benefits</span></a></li>
                </ul>
        
                <!-- Menu de Training -->
                <ul class="menu-links hidden" id="menu-training">
                    <li class="nav-link"><a href="#" id="back-training"><i class="ph-fill ph-arrow-fat-lines-left icon"></i><span class="text nav-text">Back</span></a></li>
                    <li class="nav-link"><a href="{% url 'training_list' %}"><i class="ph-fill ph-barbell icon"></i><span class="text nav-text">Trainings </span></a></li>
                    <li class="nav-link"><a href="{% url 'participant_list' %}"><i class="ph-fill ph-user-list icon"></i><span class="text nav-text">Participants</span></a></li>
                    <li class="nav-link"><a href="{% url 'instructor_list' %}"><i class="ph-fill ph-user-sound icon"></i><span class="text nav-text">Instructors</span></a></li>
                    <li class="nav-link"><a href="{% url 'certificate_list' %}"><i class="ph-fill ph-certificate icon"></i><span class="text nav-text">Certificates</span></a></li>
                </ul>
                
                <!-- Menu de Occupational Safety -->
                <ul class="menu-links hidden" id="menu-occupational-safety">
                    <li class="nav-link"><a href="#" id="back-occupational-safety"><i class="ph-fill ph-arrow-fat-lines-left icon"></i><span class="text nav-text">Back</span></a></li>
                    <li class="nav-link"><a href="{% url 'risk_identification_list' %}"><i class="ph-fill ph-warning icon"></i><span class="text nav-text">Risk Identification</span></a></li>
                    <li class="nav-link"><a href="{% url 'incident_report_list' %}"><i class="ph-fill ph-warning-diamond icon"></i><span class="text nav-text">Incident Report</span></a></li>
                    <li class="nav-link"><a href="{% url 'document_list' %}"><i class="ph-fill ph-files icon"></i><span class="text nav-text">Documents</span></a></li>
                    <li class="nav-link"><a href="{% url 'safety_inspection_list' %}"><i class="ph-fill ph-stethoscope icon"></i><span class="text nav-text">RMI</span></a></li>
                    <li class="nav-link"><a href="{% url 'equipment_list' %}"><i class="ph-fill ph-traffic-cone icon"></i><span class="text nav-text">Safety Equipment</span></a></li>
                    <li class="nav-link"><a href="{% url 'safetypolicy_list' %}"><i class="ph-fill ph-clipboard-text icon"></i><span class="text nav-text">Safety Policies</span></a></li>
                </ul>
            </div>
     
            <div class="bottom-content">
                <li><a href="{% url 'logout' %}"><i class="ph-fill ph-sign-out icon"></i><span class="text nav-text">Logout</span></a></li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class="ph-fill ph-moon icon moon"></i>
                        <i class="ph-fill ph-sun-dim icon sun"></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch"><span class="switch"></span></div>
                </li>
            </div>
        </div>
    </nav>


    

    <!-- Main Content -->
    <section class="home">
        <div class="main-content">
            <header>
                <div class="header-title">
                    <div class="search-wrapper">
                        <i class="ph ph-magnifying-glass"></i>
                        <!-- <input type="search" placeholder="Search here"/> -->
                    </div>
                    <div class="user-wrapper">
                    {% if current_employee %}
                     {% if current_employee.image %}
                        <img src="{{ current_employee.image.url }}" alt="Imagem de {{ current_employee.first_name }}">
                     {% else %}
                        <img src="{% static 'images/avatar.svg' %}" alt="{{ employee.first_name }} {{ employee.last_name }}">
                     {% endif %}
                        <h4>{{ current_employee.first_name }} {{ current_employee.last_name }}</h4>
                    {% endif %}
                        <i class="ph ph-caret-down"></i>
                    </div>
                </div>
            </header>
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </section>

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
