{% extends 'base_generic.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/lists.css' %}">
{% endblock %}

{% block content %}
<section class="main-title">
    <h1>Certificate Management</h1>
</section>

<div class="card">
    <div class="card-header">
        <h2>All Certificate </h2>
        <div class="filters">
            <input type="search" placeholder="Filter by name" class="filter-input" />
            <button class="btn_add"><a href="{% url 'certificate_create' %}">Add Certificate</a></button>
        </div>
    </div>
    <div class="board">
        <table width="100%">
            <thead>
                <tr>
                    <td>Participant</td>
                    <td>Training</td>
                    <td>Issue date</td>
                    <td>Validation Code</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for certificate in certificates %}
                <tr>
                    <td class="people">
                        <div class="">
                            <p>{{ certificate.participant }}</p>
                        </div>
                    </td>
                    <td>
                        <p>{{ certificate.training }}</p>
                    </td>
                    <td>
                        <p>{{ certificate.issue_date }}</p>
                    </td>
                    <td>
                        <p>{{ certificate.validation_code }}</p>
                    </td>
                 
                   
                    <td class="table-icons">
                        <a href="{% url 'certificate_update' certificate.pk %}"><i class="ph-fill ph-eraser"></i></a>
                        <a href="{% url 'certificate_delete' certificate.pk %}"><i class="ph-fill ph-trash"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center;">No certificate found.</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
    {% endblock %}
