{% extends 'base_generic.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/document.css' %}">
{% endblock %}

{% block content %}
  <section class="main-title">
    <h1>Documents and Compliance</h1>
  </section>

  <section class="drag-files">
    <button>  
      <a href="{% url 'document_create' %}">Add new document</a>
    </button>
    <p>Click to register a document and compliance</p>
  </section>

  <section class="document-list">
    <div class="card">
      <div class="card-header">
        <h2>All Documents</h2>
        <div class="filters">
          <input type="search" placeholder="Filter by name" class="filter-input" />
          <select class="filter-select">
            <option value="">Category</option>
            <option value="legal">Legal</option>
            <option value="normative">Normative</option>
            <option value="regulatory">Regulatory</option>
          </select>
        </div>
      </div>

      <div class="board">
        <table width="100%">
          <thead>
            <tr>
              <td>Responsible</td>
              <td>Title</td>
              <td>Category</td>
              <td>Uploaded At</td>
              <td>Size</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            {% for document in documents %}
              <tr>
                <td class="people">
                  {% if document.uploaded_by.image %}
                     <img src="{{ document.uploaded_by.image.url }}" alt="Imagem de {{ document.uploaded_by.first_name }}">
                  {% else %}
                     <img src="{% static 'images/avatar.svg' %}" alt="{{ document.uploaded_by.first_name }} {{ document.uploaded_by.last_name }}">
                  {% endif %}
                  <div class="people-de">
                    <h5>{{ document.uploaded_by.first_name }}{{document.uploaded_by.last_name}}</h5>
                    <p>{{ document.uploaded_by.email }}</p>
                  </div>
                </td>
                <td class="people-des">
                  <p>{{ document.title }}</p>
                </td>
                <td class="people-des">
                  <p>{{ document.get_category_display }}</p> 
                </td>
                <td class="people-des">
                  <p>{{ document.upload_date }}</p> 
                </td>
                <td class="role">
                  <p>{{ document.file.size }} bytes</p>
                </td>
                <td class="download">
                  <a href="{% url 'document_update' document.pk %}"><i class="ph-fill ph-eraser"></i></a>
                  <a href="{% url 'document_delete' document.pk %}"><i class="ph-fill ph-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>  
        </table>
      </div>
    </div>
  </section>

{% endblock %}
